<div class="card profile">
  <h1 class="centered">
      Hi there! I am Natasha.
      <p>
      <%= image_tag "photo.jpeg", :class => "avatar-large mt-3"%>
      </p>
  </h1>
    <p class="centered">
      I am looking for a cleaner because I am so busy with work and study. My apartment is a mess! I will need deep cleaning weekly, including the dishes, laundry, and balcony cleaning.
    </p>
</div>

  <div class="card profile">
  <h2 class="centered">
    Location
  </h2>
  <p class="centered">
    I live not far from Sky Tree. Easily accessible by Hanzomon line and Oedo Line.
  </p>
    </div>

    <div class="card profile">
  <h2 class="centered">
    Fee
    </h2>
  <p class="centered">
    I am willing to pay 2000yen per hour plus transportation.
      </p>
</div>
