<%# <div class="footer">
      <div class="footer-links">
        <a href="x"><i class="fab fa-instagram"></i></a>
        <a href="x"><i class="fab fa-facebook"></i></a>
      </div>

<div>
  <h3>ABOUT US</h3>
  <p>White Glove Cleaning Services is a customer oriented cleaning services that strives to meet your specific cleaning needs. From house, office, moving out, hotel cleaning, and disinfection services, we provide it all within Tokyo, Japan.</p>
</div>

<div>
  <h3>CONTACT INFO</h3>
  <ol>
    <li>2-11-3 Meguro, Meguro-ku, Tokyo 153-0063</li>
    <li>080-9290-8767</li>
    <li>info@whiteglove.jp</li>
    <li>Hour of operation: Monday – Friday, 9:00 – 17:00</li>
  </ol>
</div>
    </div>
    </div> %>
