<div class="banner home" style="background-image: asset-url('banner.png');">
  <div class="container">
    <h1>White Glove<br>Cleaning Services</h1>
    <p>Always on time, trusted and safe</p>
    <a class="btn btn-ghost mt-3"" href="<%= services_path %>">Our services</a>
    <a class="btn btn-ghost mt-3 no-m"" href="<%= new_service_path %>">Become a cleaner</a>
  </div>
</div>
