<div class="banner" style="background-image: asset-url("banner.png");">
  <div class="container">
    <h1>Cleaning services</h1>
    <p>Make your life easier</p>
    <a class="btn btn-ghost"" href="#">Discover services</a>
  </div>
</div>
