<div class="banner home" style="background-image: asset-url('banner.png');">
  <div class="container">
    <h1>White Glove<br>Cleaning Services</h1>
    <%= image_tag "glove.png", :class => "avatar-large mt-3" %>
    <p>Always on Time Trusted and Safe</p>
    <p>Make your life easier</p>
    <a class="btn btn-ghost"" href="<%= services_path %>">Our services</a>
  </div>
</div>
