.btn-ghost {
  color: #ffffff;
  margin-top: 10px;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  margin-left: 40px;
}

.btn-ghost:hover {
  color: white;
  border: 1.5px solid #ffffff;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8F5BD8;
  transition: background 0.3s ease;
  &.white {
    background: white;
    color: #8F5BD8;
    border: 1px solid #8F5BD8;
  }
}

.btn-flat:hover {
  background:#8F5BD8;
  color: white;
}
