.btn-ghost {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  margin-left: 40px;
}

.btn-ghost:hover {
  color: white;
  border: 1.5px solid #ffffff;
}
