.card {
  background-color: #EEEEEE;
  width: 400px;
  height: 232px;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #8F5BD8;
  &.profile {
  width: 800px;
  }
  &.cleaner {
    background-color: #f6f6f6;
    font-size: 20px;
  }
  display: flex;
  justify-content: center;
}

.card-booking {
  width: 500px;
  margin: 30px;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking-infos {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
  padding: 16px;
}

h5, h6, p{
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.card:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.profile:hover {
  box-shadow: none;
}

.cleaner:hover {
  box-shadow: none;
}

.cleaner-stats-item {
  display: flex;
  flex-direction: column;
}

.cleaner-stats{
  display: flex;
  justify-content: space-around;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEEEE;
}

.button-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.card-title {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.service-img{
  /*fixed*/
  border-radius: 50%;
  /*customizable*/
  width: 64px;
  height: 64px;
}

.bl {
  border-left: 1px solid;
  padding-left: 24px;
}

.br {
  border-right: 1px solid;
  padding-right: 24px;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 16px;
  align-items: center;
}

.cards-wrapper{
  width: 50%;
  padding: 16px;
}

.main-container{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.service-count{
  padding-bottom: 16px;
}

.cleaner-wrapper{
  width: 50%;
}

.service-wrapper{
  width: 50%;
}
