
form {
  width: 400px;
  &.status {
    width: auto;
  }
}

.centered {
  text-align: center;
}

.left-half {
  background-image: asset-url('cleaner.png');
  &.service {
    background-image: asset-url('supplies.jpg');
  }
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  left: 0px;
  height: 100%;
}

.right-half {
  background-color: white;
  width: 50%;
  right: 0px;
  height: 100%;
  color: #434242
  p {
    color: #434242
  }
}
